<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Welcome to the LatePlate-O-Tron 3000</h1>
            <ul class="list-unstyled">
                <li>Making lateplates easy.</li>
            </ul>


            <%= simple_form_for @breakfast_plate, url: breakfastplates_path do |f| %>
              <%= f.association :user, :label => "Select a Name", :label_method => :full_name, :value_method => :id %>
              <%= f.input :request_day, as: :date %>
              <%= f.button :submit, "Add breakast plate" %>
            <% end %>


            </br>


            </br>
            </br>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Meal</th>
                  <th>Day</th>
                </tr>
              </thead>
              <tbody>


              </tbody>
            </table>


        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
