<% content_for :title do %>Home<% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <h3>Welcome to the LatePlate-o-Tron 3000!</h3>
  </div>
</div>

<div class = "row">
  <div class="col-md-2 col-md-offset-5">
    <p>
      <%= button_to "Sign Up", signup_path, :method => :get, :class => "btn btn-primary"  %><br />
    </p>
  </div>
</div>
